<div class="container-fluid">
	<h2>About Aucademy</h2>
	<p>
		Aucademy is a site that aggregates online learning resources for any subjects. We let users rate those resources in order to create a study guide for these subjects. Besides learning resources aggregation, we also provide discussion page for each subjects. There users can ask any questions related to the subjects or the learning materials. Our goal is to create a crowdsourced study guide and accelerate the learning process. 
	</p>
</div>