
	<head>
		<script>
			function goBack() {
    			window.history.back();
			}
		</script>
	</head>

	<body class ="container" ng-app="aucademy">
			<div class="jumbotron horizontal-center" ng-controller="userController as main">
				<h2 class="center-text">Forgot Password</h2>
				<!-- Alert -->
				<div>
					<script type="text/ng-template" id="alert.html">
					<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
					<div ng-transclude></div>
					</div>
					</script>

					<uib-alert ng-repeat="alert in main.alerts" type="{{alert.type}}" close="main.closeAlert($index)">{{alert.msg}}</uib-alert>
				</div>

				<p>Enter the email address for your account. A temporary password will be sent to you.</p>

				<input type ="text" class="form-control" placeholder="Email" ng-model="main.tempUserData.email">

				<div class = "center-text" style="padding-top:10px">
					<button class="btn btn-primary" ng-click="main.forgotPassword()"> Confirm </button>
					<button class="btn btn-default" onclick="goBack()"> Back </button>
				</div>
			</div>
	</body>
