<body class ="container" ng-app="aucademy">
	<div class="jumbotron" ng-controller = "courseController as main"> 
		<h1>{{main.currentSubject.subjectName}}</h1>
		<!--Post New Course Button-->
		<div class = "top-padding-10">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newCourseModal">Post New Course</button>
		</div>
	</div>

	<!--New Course Modal-->
	<div id="newCourseModal" class="modal fade" role="dialog" ng-controller="courseController as main">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2>Post New Course</h2>
				</div>
				<div class="modal-body">
					<div class="form-group container-fluid">
						<label class="control-label">Course Name:</label>
						<input type="text" class="form-control" placeholder="Course Name" ng-model = "main.newCourse.courseName">
					</div>
					<div class="form-group container-fluid">
						<label class="control-label">Course Link:</label>
						<input type="text" class="form-control" placeholder="example.com" ng-model = "main.newCourse.courseLink">
					</div>
					<div class="form-group container-fluid">
						<label class="control-label">Difficulty: </label>
						<label class="radio-inline"><input type="radio" name="optradio" value ="Beginner" ng-model = "main.newCourse.difficulty">Beginner</label>
						<label class="radio-inline"><input type="radio" name="optradio" value ="Intermediate" ng-model = "main.newCourse.difficulty">Intermediate</label>
						<label class="radio-inline"><input type="radio" name="optradio" value ="Advance" ng-model = "main.newCourse.difficulty">Advance</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click = "main.createNewCourse()">Confirm</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!--Nav tab for courses and discussion-->
	<div ng-controller = "navController as main">
		<ul class = "nav nav-tabs">
			<li ng-class = "{active: main.activeTab == 'Courses'}"><a href = "subject/{{main.subjectID}}">Courses</a></li>
			<li ng-class = "{active: main.activeTab == 'Discussion'}"><a href = "subject/{{main.subjectID}}/discussion">Discussion</a></li>
		</ul>

		<div class="tab-content">
			<div ng-switch="main.activeTab">
				<div ng-switch-when='Courses'> 
					<div ng-include = '"./views/course.html"'>
					</div>
				</div>
				<div ng-switch-when='Discussion'> 
					<div ng-include = '"./views/discussion.html"'>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>