.center-text {
    text-align:center;
}

.div-right{
	display:flex;
	justify-content:flex-end;
}

.vertical-center{
	min-height:100vh;
	margin:0;
	display: flex;
	align-items:center;
}

.horizontal-center{
	margin-left:auto;
	margin-right:auto;
}

p.p-width {
    width: 550px;
}

.table-height{
	height: 240px; 
	overflow:auto;
}

.top-padding-10 {
	padding-top: 10px;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}