<!--Template for listing courses-->
<div class= "container-fluid" ng-controller = "courseController as main">
	<!--Beginner Courses-->
	<div>
		<h2>Beginner</h2>
		<div class = "table-height">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="course in main.beginnerCourses">
						<td>
							<a href="{{course.courseLink}}" target="_blank">
								<p><b>{{course.courseName}}</b></p>
							</a>
							<div>
								{{course.courseRating | number:1}}:
								<uib-rating ng-model="course.courseRating" max="main.maxRating" readonly="true" on-hover="main.hover(value)" on-leave="overStar = null" style="color:#428bca; padding-right: 25px;"></uib-rating>
								Your Rating: {{course.tempRating}}
								<uib-rating ng-model="course.tempRating" max="main.maxRating" readonly="false" on-hover="main.hover(value)" on-leave="overStar = null" style="color:#428bca" ng-click = "main.rateClick(course.id, course.tempRating)"></uib-rating>
							</div>								
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--Intermediate Courses-->
	<div>
		<h2>Intermediate</h2>
		<div class = "table-height">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="course in main.intermediateCourses">
						<td>
							<a href="{{course.courseLink}}" target="_blank">
								<p><b>{{course.courseName}}</b></p>
							</a>
							<div>
								{{course.courseRating | number:1}}
								<uib-rating ng-model="course.courseRating" max="main.maxRating" readonly="true" on-hover="main.hover(value)" on-leave="overStar = null" style="color:#428bca; padding-right: 25px;"></uib-rating>
								Your Rating:
								<uib-rating ng-model="course.tempRating" max="main.maxRating" readonly="false" on-hover="main.hover(value)" on-leave="overStar = null" style="color:#428bca" ng-click = "main.rateClick(course.id, course.tempRating)"></uib-rating>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--Advance Courses-->
	<div>
		<h2>Advance</h2>
		<div class = "table-height">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="course in main.advanceCourses">
						<td>
							<a href="{{course.courseLink}}" target="_blank">
								<p><b>{{course.courseName}}</b></p>
							</a>
							<div>
								{{course.courseRating | number:1}}
								<uib-rating ng-model="course.courseRating" max="main.maxRating" readonly="true" on-hover="main.hover(value)" on-leave="overStar = null" style="color:#428bca; padding-right: 25px;"></uib-rating>
								Your Rating:
								<uib-rating ng-model="course.tempRating" max="main.maxRating" readonly="false" on-hover="main.hover(value)" on-leave="overStar = null" style="color:#428bca" ng-click = "main.rateClick(course.id, course.tempRating)"></uib-rating>
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>