<!--Template for listing courses-->
<div class= "container-fluid" ng-controller = "courseController as main">
	<!--Beginner Courses-->
	<div>
		<h2>Beginner</h2>
		<div class = "table-height">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="course in main.beginnerCourses">
						<td>
							<a href="{{course.courseLink}}" target="_blank">
								{{course.courseName}}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--Intermediate Courses-->
	<div>
		<h2>Intermediate</h2>
		<div class = "table-height">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="course in main.intermediateCourses">
						<td>
							<a href="{{course.courseLink}}" target="_blank">
								{{course.courseName}}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--Advance Courses-->
	<div>
		<h2>Advance</h2>
		<div class = "table-height">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="course in main.advanceCourses">
						<td><a href="{{course.courseLink}}" target="_blank">
							{{course.courseName}}
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>