
	<head>
		<script>
			function goBack() {
    			window.history.back();
			}
		</script>
	</head>

	<body class ="container" ng-app="syllabus" ng-controller="subjectController as main">
			<div class="jumbotron horizontal-center">
				<h2 class="center-text">New Subject Request</h2>
				<p class="p-width">Please check existing subjects before requesting a new one. New subject request will be under review for under 48 hours.</p>

				<input type ="text" class="form-control" placeholder="Subject Name" ng-model="main.newSubject.subjectNameReq">

				<div class = "center-text" style="padding-top:10px">
					<button class="btn btn-primary" ng-click="main.requestSubject()"> Request </button>
					<button class="btn btn-default" onclick="goBack()"> Back </button>
				</div>

				<div style="padding-top:10px">
					<p class="center-text">{{main.newSubject.message}}</p>
				</div>
			</div>
	</body>
