<body class ="container" ng-app="syllabus">
	<div class="jumbotron"> 
		<h1>{{main.currentSubject.subjectName}}</h1>
	</div>

	<div>
		<h2>Beginner</h2>
		<table class="table table-hover">
			<tbody>
				<tr ng-repeat="course in main.beginnerCourses">
					<td>{{course.courseName}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Intermediate</h2>
		<table class="table table-hover">
			<tbody>
				<tr ng-repeat="course in main.intermediateCourses">
					<td>{{course.courseName}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Advance</h2>
		<table class="table table-hover">
			<tbody>
				<tr ng-repeat="course in main.advanceCourses">
					<td>{{course.courseName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>