<div class="container-fluid">
	<h2>Frequently Asked Questions</h2>
	<p>We are currently aggregating more frequently asked questions. If you have anymore questions, you can reach us at <a href="mailto:syllabus_support@gmail.com">syllabus_support@gmail.com</a>.</p>
	<ol>
		<li>
			<p>
				<b>
				What is syllabus?
				</b>
			</p>
			<p>
				Syllabus is a site that aggregates online learning resources for any subjects. We let users rate those resources in order to create a study guide for these subjects. Our goal is to create a crowdsourced study guide and accelerate the learning process. 
			</p>
		</li>
		<li>
			<p>
				<b>
				What do I do If I don't see the subject I want to learn?
				</b>
			</p>
			<p>
				You can register an account and request a new subject to be added. After you've registered, click on your username on the top right corner, then click on "Request Subject" and enter the subject you want to add.
			</p>
		</li>
		<li>
			<p>
				<b>
				How do I change my password?
				</b>
			</p>
			<p>
				Click on your username, and then click on settings. There you have a link to change your password.
			</p>
		</li>
	</ol>
</div>
